BasedOnStyle:  WebKit
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: true
AlignEscapedNewlines: Left
AlignTrailingComments: false
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AlwaysBreakTemplateDeclarations: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Allman
ColumnLimit:     150
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: false
FixNamespaceComments: true
IncludeBlocks:   Merge 
IncludeCategories:
  - Regex:           '<c[[:alnum:].]+>'
    Priority:        1
  - Regex:           '<[[:alnum:].]+>'
    Priority:        2
  - Regex:           '"[[:alnum:].]+"'
    Priority:        4
  - Regex:           '.*'
    Priority:        3
IndentWidth:     4
IndentWrappedFunctionNames: true
MaxEmptyLinesToKeep: 2
NamespaceIndentation: None
PointerAlignment: Left
SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: false
